<ion-content padding class="backgroundAmsnImg bposy0">
  <div id="avatarLogin">
    <ion-grid>
      <ion-row>
        <ion-col col-6 offset-3>
          <div class="avatarFrameoffline">
            <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
    <ion-item *ngIf="operation === 'register'">
      <ion-label fixed>Nick</ion-label>
      <ion-input type="text" [(ngModel)]="nick"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="operation === 'register'">
      <ion-label fixed>Repetir</ion-label>
      <ion-input type="password" [(ngModel)]="password2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="status">
        <ion-option value="Online">Conectado</ion-option>
        <ion-option value="Away">Ausente</ion-option>
        <ion-option value="Busy">Ocupado</ion-option>
        <ion-option value="AppearOffline">Desconectado</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Recordarme</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>
  <div padding>
    <span *ngIf="operation === 'register'">Ya tienes cuenta? <a (click)="operation = 'login'"><b>Click Aquí</b></a></span>
    <span *ngIf="operation === 'login'">Aun no tienes cuenta? <a (click)="operation = 'register'"><b>Click Aquí</b></a></span>
    <hr />
    <button *ngIf="operation === 'login'" ion-button  (click)="loginWithEmail()" block>Ingresar</button>
    <button *ngIf="operation === 'register'" ion-button (click)="registerWithEmail()" block>Registrarse</button>
    <hr />
    <button ion-button (click)="facebookAuth()" block>Ingresar con Facebook</button>
  </div>
</ion-content>
