<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-icon name="heart"></ion-icon>
  <div padding>
    <ion-input type="text" [(ngModel)]="query" placeholder="Buscar..."></ion-input>
  </div>
  <ion-list>
    <ng-container *ngFor="let user of users | search: query">
      <ion-item *ngIf="user.status !== 'Offline'" (click)="goToConversation(user)">
        {{ user.name }} - {{user.status}}
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
