<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>{{price}}</p>
  <p>{{date}}</p>
  <p>{{yuliana}}</p>
  <hr />
  <p>{{price | number: '1.2-2'}}</p>
  <p>{{date | date: 'medium'}}</p>
  <p>{{yuliana | json}}</p>
  <ion-list>
    <ng-container *ngFor="let user of users">
      <ion-item *ngIf="user.status !== 'Offline'" (click)="goToConversation(user)">
        {{ user.name }} - {{user.status}}
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
